.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	grid-template-rows: repeat(3, auto);
	column-gap: 18px;
	row-gap: 35px;
	justify-content: center;
	align-items: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 2px;
	border-radius: 10px !important;
	background: #f3f3f3;
	border: black solid 0.1px !important;
	box-shadow: 0px 4px 0px 0px black;
}

.product-card:hover {
	cursor: pointer;
}

.custom-gradient-badge {
	font-size: 0.85em;
	font-weight: 400;
	letter-spacing: 0.3px;
	border: 1px solid darkgray;
	background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
	border-radius: 25px;
	padding: 0px 4px 2px 4px;
	margin: 0px;
}

.custom-badge {
	font-size: 0.9em;
	font-weight: 400;
	margin: 0px;
}

.attribute-name {
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 1px;
	color: #7932b7;
	line-height: 0.95;
}

.card-name {
	min-width: 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.card-set {
	max-height: 50px !important;
	max-width: 50% !important;
}

.card-level {
	font-size: 0.85em;
	font-weight: 500;
	color: #646464;
	font-style: italic;
	min-width: fit-content;
}

.card-type:hover {
	transform: scale(1.15);
}

.card-artist {
	min-width: 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.price-value {
	font-weight: 500;
	font-size: 1.4em;
	color: #7932b7;
	padding-right: 2px;
}

.price-tag {
	font-weight: 500;
	font-size: 0.8em;
}

.tooltip {
	font-size: 0.5em !important;
}

/* product page */
.listings-column {
	overflow: hidden !important;
}

.listings-column>* {
	height: 90vh;
}

.product-column {
	padding-top: 10vh !important;
	width: 260px;
	overflow-y: auto;
	overflow-x: hidden;
}

.product-info>* {
	margin: 0px 14px;
	font-size: 1.15em;
	padding: 3px 0px;
}

.product-info>*:not(:first-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.product-name {
	line-height: 0.9;
	font-size: 24px;
}

.product-rule {
	line-height: 1;
}

.product-level,
.product-hp {
	font-size: 1.4em;
	font-weight: 500;
}

/* custom scrollbar */
.product-column::-webkit-scrollbar,
.listings-table::-webkit-scrollbar {
	width: 8px;
}

.product-column::-webkit-scrollbar-track,
.listings-table::-webkit-scrollbar-track {
	background: rgb(0, 0, 0, 0.1);
	border-radius: 4px;
}

.product-column::-webkit-scrollbar-thumb,
.listings-table::-webkit-scrollbar-thumb {
	background: #7ca7ad;
	border-radius: 4px;
}

.product-column::-webkit-scrollbar-thumb:hover,
.listings-table::-webkit-scrollbar-thumb:hover {
	background: #92bdc2;
}

/* override React Bootstrap CSS */
.accordion>* {
	border: none !important;
}

.accordion-item {
	padding: 0px !important;
}

.accordion-button.collapsed {
	background-color: #f3f3f3 !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	height: 30px !important;
	border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
	background-color: #f3f3f3 !important;
	border-radius: 0px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	height: 30px !important;
}

.accordion-body {
	margin: 0px !important;
	padding: 10px calc(50% - 117.5px) !important;
}

.accordion-body>* {
	scale: 0.9;
	width: 235px;
}

.accordion-button>p {
	font-size: 12px !important;
	font-style: italic !important;
	padding: 0px !important;
	margin: 0px !important;
}

.accordion-button::after {
	transform: rotate(0deg) scale(0.6) !important;
}

.accordion-button:not(.collapsed)::after {
	transform: rotate(-180deg) scale(0.6) !important;
}

/* listings */
.listings-control {
	height: 10vh;
	z-index: 9999;
}

.listings-table {
	height: calc(90vh - 48px) !important;
	width: calc(100vw - 260px) !important;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	align-content: start;
	justify-content: start;
	gap: 15px;
	padding: 15px;
	padding-top: 2px;
	overflow-y: scroll;
}

.listing-card {
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.135);
	border-radius: 10px;
	padding: 12px;
	padding-left: 138px;
	height: 150px;
}

/* listing content */
.listing-thumb {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	border-radius: 6px !important;
	padding: 8px;
}

.listing-images-count {
	position: absolute;
	background: white;
	color: black;
	font-size: 10px;
	font-weight: 500;
	padding: 1px 3px;
	border-radius: 3px;
	left: 120px;
	bottom: 0px;
}